@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hubballi&display=swap');
@import './scss/variables';

body{
  font-family: 'Amatic SC', cursive;
  background-color: $blue;
}

p{
  font-family: 'Hubballi', cursive;
}